.todo,
.footer {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-greywhite);
}

.todo {
    margin-bottom: 0.75rem;
    color: #000;
}

.footer {
    border-top: none;
    font-family: 'Quicksand', sans-serif;
}