html,
body {
  background-color: #fffffa !important;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-richblack {
  background-color: #071013;
}

.bg-sizred {
  background-color: #EB5160;
}

.bg-greyblue {
  background-color: #597081;
}

.bg-rythm {
  background-color: #777DA7;
}

.bg-offwhite {
  background-color: #fffffa;
}

.bg-lightgrey {
  background-color: #DFE0E2;
}
